Aroma.xcodeproj/project.xcworkspace/xcshareddata/Aroma.xccheckout
Aroma.xcodeproj/xcuserdata/chris.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Aroma.xcodeproj/xcuserdata/chris.xcuserdatad/xcschemes/Aroma.xcscheme